@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url('https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg') no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.content h1 {
	font-family: 'Raleway', sans-serif;
	color: #F9F3F4;
	text-shadow: 1px 1px 5px #666;
	font-size: 500%;
}

.btn {
	background-color: rgba(255, 255, 255, 0.2); /* Opacity underneath btn */
	font-family: 'Oswald', sans-serif;
	color: #003B60;
	font-size: 135%;
	border: solid #003B60 3px;
	border-radius: 9px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover {
	color: #F9F3F4;
	border: solid #F9F3F4 3px;
}

p {
	font-size: 80%;
	line-height: 210%;
	text-align: justify;
	margin: 3%;
	font-family: 'Raleway', sans-serif;
}

/* Shrink relative sizes on mobile devices */
@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}
	p {
		font-size: 100%;
		line-height: 140%;
	}
}